<ion-app>
  <ion-content color="primary">
    <div class="pokedex-head">
      <img src="../../assets/pokedex-head.png">
    </div>
      <div class="main-content-container">
        <div class="camera-container">
          <div class="cam-hole-1"></div>
          <div class="cam-hole-2"></div>
          <div class="cam-light"></div>
          <div class="cam-viewport">
            <ion-img [src]="photoService.photo.webviewPath"></ion-img>
            <div class="speaker-hole-1"></div>
            <div class="speaker-hole-2"></div>
            <div class="speaker-hole-3"></div>
          </div>
        </div>
        <div class="bottom-container">
          <ion-button class="button-scan" shape="round" color="dark" (click)="addPhotoToGallery()" ></ion-button>
          <div class="green-textbox">
            <p class="text">awaiting scanning...</p>
          </div>
          <div class="cross-button">
            <div class="cross-vertical"></div>
            <div class="cross-horizontal"></div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-app>