<ion-app>
  <ion-content color="primary">
    <img class="head" src="../../assets/pokedex-head.png" alt="header"/>

    <div class="top-container"> 
      <img class="cam" src="../../assets/pokedex-cam.png" alt="cam"/>
      <ion-img class="cam-img" [src]="photoService.photo.webviewPath" alt="cam-img"/>
    </div>   

    <div class="bot-container"> 
      <img class="bot" src="../../assets/pokedex-bot.png" alt="bot"/>
      <img (click)="addPhotoToGallery()" class="bot-button" src="../../assets/button.png" alt="bot-button"/>
    </div>   

  </ion-content>
</ion-app>